/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white-dark: #fff;
$color-black: #000;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;

  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
  url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* for center the box alaturi de top si left*/
    text-align: center; /*folosit pt text, dar aici pt buton ca e declarat ca a href, deci e text*/
  }
}

//.header__logo-box {
//  position: absolute;
//  top: 4rem;
//  left: 4rem;
//}
//
//.header__logo {
//  height: 3.5rem;
//}

//.header__text-box {
//  position: absolute;
//  top: 40%;
//  left: 50%;
//  transform: translate(-50%, -50%); /* for center the box alaturi de top si left*/
//  text-align: center; /*folosit pt text, dar aici pt buton ca e declarat ca a href, deci e text*/
//}

.heading-primary {
  color: $color-white-dark;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 1.6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

//.heading-primary--main {
//  display: block;
//  font-size: 6rem;
//  font-weight: 400;
//  letter-spacing: 3.5rem;
//
//  animation-name: moveInLeft;
//  animation-duration: 1s;
//  animation-timing-function: ease-out;
//
//  /*
//      animation-delay: 3s;
//      animation-iteration-count: 3;
//  */
//}

//.heading-primary--sub {
//  display: block;
//  font-size: 2rem;
//  font-weight: 700;
//  letter-spacing: 1.7rem;
//
//  animation-name: moveInRight;
//  animation-duration: 1s;
//  animation-timing-function: ease-out;
//}

@keyframes moveInLeft {
  0% {
    /* unde incepe animatia*/
    opacity: 0;
    transform: translateX(-10rem);
    /* translateX -> de la stanga la dreapta (e in directia X*/
    /* un nr pozitiv => de la dr la st*/
  }

  80% {
    transform: translateX(1rem) rotate(180deg);
  }

  100% {
    /* unde se termina*/
    opacity: 1;
    transform: translate(0) rotate(180deg);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    /* unde se termina*/
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    /* unde se termina*/
    opacity: 1;
    transform: translate(0);
  }
}

.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block; /* sa nu se suprapuna peste header-primary-sub, sa fie un block nou */
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
  }

  &:hover {
    transform: translateY(-.3rem); /* merge in sus */
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    &::after {
      transform: scaleX(1.5) scaleY(2.6); /* scale - increases the element*/
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

  &--white {
    background-color: $color-white-dark;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white-dark;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

//.btn:link,
//.btn:visited {
//  text-transform: uppercase;
//  text-decoration: none;
//  padding: 1.5rem 4rem;
//  display: inline-block; /* sa nu se suprapuna peste header-primary-sub, sa fie un block nou */
//  border-radius: 10rem;
//  transition: all .2s;
//  position: relative;
//}

//.btn:hover {
//  transform: translateY(-.3rem); /* merge in sus */
//  box-shadow: 0 1rem 2rem rgba($color-black, .2);
//}

//.btn:active {
//  transform: translateY(-.1rem);
//  box-shadow: 0 .5rem 1rem rgba($color-black, .2);
//}

//.btn--white {
//  background-color: $color-white-dark;
//  color: $color-grey-dark;
//}

//.btn::after {
//  content: "";
//  display: inline-block;
//  height: 100%;
//  width: 100%;
//  border-radius: 10rem;
//  position: absolute;
//  top: 0;
//  left: 0;
//  z-index: -1;
//  transition: all .4s;
//}

//.btn--white::after {
//  background-color: $color-white-dark;
//}

//.btn:hover::after {
//  transform: scaleX(1.5) scaleY(2.6); /* scale - increases the element*/
//  opacity: 0;
//}

//.btn--animated {
//  animation: moveInBottom .5s ease-out .75s;
//  animation-fill-mode: backwards;
//}
